body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    width: 100%;
    font-size: 16px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

#navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid #bebebe;
}

#navbar img {
    width: 55px;
    margin-right: 10px;

}

#navbar i {
    font-size: 1.25rem;
}

#navbar li :hover {
    color: #00aeef;
}


.myAccount {
    padding-right: 15px;
    font-size: 1rem;
}

.badge-notify {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    padding: 2px 6px;
    position: relative;
    right: 12px;
    top: -18px;
    background: #00aeef !important;
    border: 1px solid #00aeef !important;
    color: #fff;
    display: inline-block;
    min-width: 10px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}


#container-main {
    padding-right: 0px;
    padding-left: 0px;
}

#banner-head div {
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 56px;
}

#banner-head img {
    width: 100%;
}

#banner-firm div {
    text-align: center;
    margin-top: 75px;
}

#banner-firm img {
    height: 55px;
}

h4 {
    text-align: center;
    border-bottom: 2px solid #d6d6d6;
}

.btn-dark:hover {
    color: #fff;
    background-color: #00aeef;
    border-color: #00aeef;
}

.row_category div {
    margin-top: 20px;
    background-color: white;
    text-align: center;
}

.row_category a {
    text-decoration: inherit;
    color: inherit;
}

.row_category img {
    margin-bottom: 15px;
}

.col-lg-3.col-6:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    z-index: 1;
}

.badge-primary{
    right: 10px;
    position: absolute;
    top: 10px;
    background-color: #00aeef;
}